In [1]:
t = ()
print(type(t), t)

<class 'tuple'> ()

In [2]:
t = (32, 321, 31)
print(type(t), t)

<class 'tuple'> (32, 321, 31)

In [3]:
t = (32)
print(type(t), t)

<class 'int'> 32

In [4]:
t = ((((((32))))))
print(type(t), t)

<class 'int'> 32

In [5]:
t = (319,)
print(type(t), t)

<class 'tuple'> (319,)

In [6]:
t = (319.)
print(type(t), t)

<class 'float'> 319.0

In [7]:
t = (319.0)
print(type(t), t)

<class 'float'> 319.0

In [8]:
t = (32, 321, 31,)
print(type(t), t)

<class 'tuple'> (32, 321, 31)

In [10]:
l = [32, 321, 31,]
print(type(l), l)

<class 'list'> [32, 321, 31]

In [11]:
l = [32]
print(type(l), l)

<class 'list'> [32]